@model IEnumerable<CarDetails.DL.Models.Car>

@{
	ViewData["Title"] = "Araç Detay";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

@foreach (var item in Model)
{



	<div class="destination_banner_wrap overlay" style="background-image:url(/images/@item.ImageUrl)">
	</div>

	<div class="destination_details_info">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-lg-8 col-md-9">
					<div class="destination_info">
						<h3> @item.CarModel Detay</h3>
						<p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing.</p>
						<p>Variations of passages of lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing.</p>
						<div class="single_destination">
							<h4>Day-01</h4>
							<p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words.</p>
						</div>
						<div class="single_destination">
							<h4>Day-02</h4>
							<p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words.</p>
						</div>
						<div class="single_destination">
							<h4>Day-03</h4>
							<p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words.</p>
						</div>


						<p> @item.CarId</p>
						
						<p> @item.CarHP</p>
						<p> @item.CarFuel</p>
						<p> @item.BrandId</p>
						<p> @item.CaseTypeId</p>
						<p> @item.CarModelDate.Year</p>


					</div>
					<div class="bordered_1px"></div>
				</div>
			</div>
		</div>
	</div>
}