@model IEnumerable<CarDetails.DL.Models.Car>

<div class="popular_places_area">
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-lg-6">
				<div class="section_title text-center mb_70">
					<h3>Araçlar</h3>
				</div>
			</div>
		</div>
		<div class="row">
			
			@foreach (var item in Model)
			{
				<div class="col-lg-4 col-md-6">
					<div class="single_place">
						<div class="thumb">
							<img src="~/images/@item.ImageUrl" style="height:200px;" alt="">
						</div>
						<div class="place_info">
							<a href="/Home/CarDetail/@item.CarId"><h3>@*@item.BrandId*@ @item.CarModel</h3></a>
							
							<p>Motor Gücü: @item.CarHP HP</p>
							<p> @item.PackageName</p>
							<p>@item.CarFuel</p>
							<div class="rating_days d-flex justify-content-between">
								<div class="days">
									<i class="fa fa-clock-o"></i>
									<a href="">@item.CarModelDate.Year</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			}
		
		</div>
		<div class="row">
			<div class="col-lg-12">
				<div class="more_place_btn text-center">
					<a class="boxed-btn4" href="~/template/#">Daha Fazla Araç</a>
				</div>
			</div>
		</div>
	</div>
</div>
